*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 /*
  outline: 1px solid red;  
  */
  list-style: none;
  text-decoration: none;
} 
html{ 
  font-size: 62.5%;
}
h1{
  font-size: 72px;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: 18px;
  font-family: sans-serif;
}
hr {
  width: 50%;           /* la mitad del ancho */
  margin: 2rem auto;    /*centrado horizontal */
  border: none;         /*se quita estilo por defecto */
  height: 0.4rem;         /*grosor */
  background-color: rgba(0, 0, 0, 0.603);  /* color de la línea */
  border-radius: 1rem;  /* opcional: bordes redondeados */
}
/*---------------------------------------Header-----------------------------------------*/
header{
  width: 100%;
  background-color: #b4b3b3;
  /*se aplica dimensiones para ubicar contenido del contenedor principal*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100px;
}
.contenedor-elementos-menu{
  /*se aplica dimensiones para ubicar contenido del contenedor secundario*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-opciones{
  /*se aplica dimensiones para ubicar contenido del contenedor opciones*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo > img{
  display: inline-block;
  max-height:9rem;
  width: 9rem;
  padding: 2px 2px;
  margin-right: 40px;
}
.menu-opciones  > li{
  padding: 3px 20px;
  
}

.menu-opciones  a{
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  font-size: 4rem;
  padding: 0.25rem 0;/*para que el after se aplique con la animacion*/
  position: relative; /*para que el after se aplique con la animacion*/
  /*
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f2f2f2;
  */
  text-align: center;
  /*se aplica dimensiones para ubicar los a*/
}
/*--------------------main-----------------------*/
/*--------------------main parte 1-----------------------*/
.contenedor-parte1 {
  width: 100%;
  display: flex;
  align-items: center;     /* centra verticalmente */
  justify-content: space-between; /* texto a la izq, img a la der */
  overflow: hidden;        /* corta la imagen al borde derecho del verde */
  /*background-color: green;*/
  /*border: 2px solid black;*/
}
.contenedor-texto1{
  margin: 7rem 0rem;   /* se despega de los lados */
  margin-left: 15rem;;
  padding: 40px;       /* espacio interno cómodo */
  /*border: 2px solid black;*/
}

.contenedor-texto1 > h1{
  display: flex;
  /*max-width: 250px;    ancho máximo de la caja */
  margin: 0 auto;     /* centrado horizontal */
  text-align: left; 
  margin-bottom: 2rem; 
  width: 600px;
}
.contenedor-texto1 > h2{
  /* max-width: 150px;   ancho máximo de la caja */
  margin: 0 auto;     /* centrado horizontal */
  text-align: justify; /* opcional, centrado del texto */
  margin-bottom: 1.4rem;
  margin-left: 0;
  margin-right: 0;
  width: 500px;
  text-align: justify;
}
.contenedor-texto1 > p{
  color: #999999;
  margin-left: 0;
  margin-right: 0;
  width: 500px;
  text-align: justify;
}

.numero-tel{
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 21rem;
  font-family: sans-serif;
}
.numero-tel > i {
  font-size: 3.5rem; /* hace el icono un poquito más grande */
  color: skyblue;
}

.imagenpng1 {
  flex: 1;                 
  display: flex;
  justify-content: flex-end; /* no cambia nada de la alineación */
}

.circulos {
  position: relative;
  overflow: hidden;   /*  aquí se recortan imagen + círculos */
}

.circulos img {
  width: 1700px;
  padding-right: 300px;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 1; /* imagen delante */
}

/* circulo 1 */
.circulos::before {
  content: "";
  position: absolute;
  width: 1100px;
  height: 600px;
  border-radius: 50%;
  background-color: orange;
  top: 34.5%;
  left: 1%;
  transform: translate(1%, 2%);
  z-index: 0; /* detrás de la img */
}

/* circulo 2 */
.circulos::after {
  content: "";
  position: absolute;
  width: 1100px;
  height: 803px;
  border-radius: 50%;
  background-color: rgb(233, 127, 5);
  top: -10%;
  left: 10%;
  transform: translate(1%, 2%);
  z-index: 0; /* detrás de la img */
}
/*--------------------main parte 2-----------------------*/
.contenedor-parte2 {
  width: 100%;
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;  
  margin: 0;
  padding: 40px;
  margin-bottom: 2rem;
}
.contenedor-texto2{
  display: flex;
  flex-direction: column;/* hijos en columna: h2 → párrafos → botón */
  align-items: center;     /* centra cada bloque horizontalmente */
  max-width: 1200px;
  margin-bottom: 8rem;
}

.contenedor-texto2 > h2{
  /*max-width: 250px;    ancho máximo de la caja */
  width: 100%;
  font-size: 40px;
  margin-bottom: 2rem; 
  text-align: center;
  margin-bottom: 6rem;
}
.contenedor-texto2 >p{
  margin-bottom: 2px;
}
.contenedor-parrafos {
  display: flex;           
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  color: #999999;      
}

/* columna izquierda = solo párrafo */
.pIzquierdo {
  width: 500px;
  text-align: justify;
  padding-right: 1rem;   
}

/* columna derecha = párrafo + botón */
.columna-derecha {
  width: 500px;
  display: flex;
  flex-direction: column;  /* apila pDerecho y botón */
  gap: 1.5rem;             /* espacio entre texto y botón */
}

.pDerecho {
  text-align: justify;
  padding-left: 1rem;    
}

.contenedor-boton {
  align-self: flex-end;      /* empuja el botón a la derecha */
  padding: 2.2rem 5rem;
  font-size: 1.8rem;
  background-color: rgb(8, 187, 211);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  margin-right: 29rem;
  margin-top: 2rem;
}

.imagen1 > img{
  width: 780px;   /* ancho fijo */
  height: auto;  /* alto fijo */
  object-fit: cover; /*  recorta para que no se deformen */
  border-radius: 50px;
}
/*--------------------main parte 3-----------------------*/

.contenedor-parte3 {
  width: 100%;
  display: flex; 
  justify-content: center;        /* centra el contenedor-elementos */
  flex-wrap: wrap;  
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.contenedor-elementos {
  width: 100%;
  display: flex; 
  justify-content: space-between;  /*imagen a la izq, form a la der */
  align-items: center;             /* alinea verticalmente */
  flex-wrap: wrap;  
  margin: 0;
  margin-bottom: 2rem;
}

.imagenpng3 {                
  flex: 1;                 
  display: flex;
  justify-content: flex-start;
  max-width: 50%;              /* limita para que no ocupe todo */
}

.circulos2 {
  position: relative;
  overflow: hidden;
}

.circulos2 img {
  width: 1180px;
  padding-left: 300px;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 1;
  margin-left: -300px;  /* en vez de padding, usamos margen negativo */
  padding-left: 0;      /* elimina el padding que empuja */
}

/* círculos (están bien) */
.circulos2::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 600px;
  border-radius: 50%;
  background-color: rgb(233, 127, 5);
  top: 33%;
  left: 7%;
  transform: translate(1%, 2%);
  z-index: 0;
}

.circulos2::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 400px;
  border-radius: 50%;
  background-color: orange;
  top: -1%;
  left: -15%;
  transform: translate(1%, 2%);
  z-index: 0;
}
.contenedor-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;              /* un poco más ancho para acomodar inputs */
  margin-left: 2rem;
  margin-right: 46rem;
  background-color: rgb(236, 236, 236);
  padding: 2rem;                 /* padding más equilibrado */
  border-radius: 45px;           /* bordes más suaves */
  /*box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);  sombra sutil */
}

.contenedor-form > h2 {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  color: black;
  font-size: 3.8rem;            /* título más grande */
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  align-items: center;
  font-family: sans-serif;
}

.formulario label {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;                  /* un poco más de espacio */
  width: 91.2%;                  /*  ocupa todo el ancho disponible */
  
}
.formulario label span {
  font-weight: normal;
  color: black;
  font-size: 1.8rem;           /* texto un poco más grande */
  /* text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3); sombra en texto */
  padding: 0;
}

/* Inputs generales */
.formulario input[type="tel"],
.formulario input[type="text"],
.formulario input[type="datetime-local"] {
  padding: 1.2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  background-color: #f8f8f8;   /* fondo más claro */
  transition: all 0.3s ease;   /* transición suave */
  outline: none;
  color: #666;
  text-align: start;
  ;
}

/* Focus en inputs */
.formulario input[type="tel"]:focus,
.formulario input[type="text"]:focus,
.formulario input[type="datetime-local"]:focus {
  background-color: white;
  box-shadow: 0 0 10px rgba(8, 187, 211, 0.5); /* brillo azul al hacer focus */
  transform: scale(1.02);      /*efecto de crecimiento sutil */
}
/* lex para que se repartan automáticamente: */
.fila-doble > label {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;                      /* Se reparten el espacio disponible */
  padding: 0;
  
}

.fila-doble {
  display: flex;
  justify-content: space-between; /* teléfono a la izq, nombre a la der */
  width: 95%;
  gap: 1.5rem;
}

.fila-doble label{
  flex: 1;              /* que no se estiren */
  width: 39%;              /* cada label ocupa 40% del ancho total */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
/* Los spans alineados al inicio (izquierda) */
.fila-doble label span {
  text-align: start;  /* etiqueta "Teléfono"/"Nombre" alineada a la izquierda */
  width: 100%;
}

/* Los inputs centrados con width 80% */
.fila-doble label input {
  width: 100%;         /* el input solo ocupa el 80% */
  margin: 0 auto;     /* lo centra dentro del label */
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  background-color: #f8f8f8;
  color: #666;
}

/* Inputs específicos con tus medidas */
.telefono, 
.nombre {
  height: 3.5rem;
  width: 90%;
  height: 3.5rem;
}

.fecha {
  height: 3.5rem;
  width: 42rem;
}

.mensaje {
  height: 10rem;
  width: 42rem;
  resize: vertical;            /*permite redimensionar verticalmente */
  font-family: Arial, Helvetica, sans-serif;
}

/* Botón mejorado */
.formulario input[type="button"] {
  padding: 1rem 3rem;
  background-color: rgb(8, 187, 211);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(8, 187, 211, 0.3);  /*sombra del botón */
  margin-bottom: 2.7rem;
  align-self: flex-start;
  margin-left: 2rem;
  }
/*--------------------main parte 4-----------------------*/
.contenedor-parte4 {
  width: 100%;
  display: flex;
  flex-direction: column;  /* Primero apila centro y bajo-menu */
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

/* Bloque superior centrado */
.contenedor-centro-menu {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.contenedor-centro-menu h2{
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 4rem;
}

/* Bloque inferior que contiene las 2 columnas */
.contenedor-bajo-menu {
  display: flex;
  justify-content: space-between; /* Izq y Der separados */
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; /* ancho máximo del bloque */
  gap: 2rem;
  margin-top: 4rem;
}

/* Columna izquierda */
.contenedor-izq-menu {
  flex: 1; /* ocupa mitad */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.contenedor-izq-menu > .menu-art2 {
  margin-bottom: 3rem;
}

.contenedor-izq-menu > .menu-comida1 {
  margin-bottom: 2rem;
  padding: 5px;
}

/* Columna derecha */
.contenedor-der-menu {
  flex: 1; /* ocupa mitad */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  margin-top: -1rem;
}
.contenedor-der-menu > .menu-art2 {
  margin-bottom: 3rem;
}
.contenedor-der-menu > .menu-comida2 {
  margin-bottom: 2rem;
  padding: 5px;
}
.plato1, .plato2, .mayus-h2{
  font-weight: bold;
  text-transform: uppercase;
}

.mayus-h2{
  font-size: 2.5rem;
  font-weight: normal;
}

.contenedor-bajo-menu p{
  padding: 0.2rem;
}
/*--------------------main parte 5-----------------------*/
.contenedor-parte5 {
  width: 100%;
  display: flex;
  flex-direction: column;  /* Primero apila centro y bajo-menu */
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  margin-top: 13.5rem;
}

/* Bloque superior centrado */
.contenedo-texto-galeria {
  width: 100%;
  max-width: 840px;
  text-align: center;
}

.contenedo-texto-galeria > h2{
  font-weight: normal;
  font-size: 3.6rem;
  margin-bottom: 2.5rem;
}

.contenedo-texto-galeria > p{
  font-weight: normal;
  margin-bottom: 2.5rem;
}

/* --- Estilo mosaico --- */
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-template-rows: 1fr 1fr;         
  gap: 2rem;
  width: 1020px;
  height: 1020px; /* cuadrado perfecto */
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.galeria .container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.galeria .image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0,140,186,0.85);
  overflow: hidden;
  transition: .5s ease;
}

/* Texto */
.galeria .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-weight: bold;
}

/* imagernes izquierda con overlay de derecha a izquierda */
.galeria .container[alt*="izquierda"] .overlay {
  right: 0;
  left: auto;
  width: 0;
}
.galeria .container[alt*="izquierda"]:hover .overlay {
  width: 100%;
  right: 0;
  left: auto;
}

/* imagenes de la derecha con overlay de izquierda a derecha */
.galeria .container[alt*="derecha"] .overlay {
  left: 0;
  right: auto;
  width: 0;
}
.galeria .container[alt*="derecha"]:hover .overlay {
  width: 100%;
  left: 0;
  right: auto;
}

/*imagenes del centro con overlay arriba */
.galeria .container[alt*="centro"] .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.galeria .container[alt*="centro"]:hover .overlay {
  height: 100%;
  bottom: 0;
}

/*  ubicacion de imagenes en grid */
.galeria .container[alt*="izquierda arriba"]  { grid-column: 1 / 2; grid-row: 1 / 2; }
.galeria .container[alt*="izquierda abajo"]  { grid-column: 1 / 2; grid-row: 2 / 3; }

.galeria .container[alt*="centro arriba"]    { grid-column: 2 / 3; grid-row: 1 / 2; align-self: start; height: 47%; }
.galeria .container[alt="centro"]            { grid-column: 2 / 3; grid-row: 2 / 3; align-self: end;   height: 47%; }

.galeria .container[alt*="en el centro de todas"] {
  grid-column: 2 / 3; 
  grid-row: 1 / 3; 
  align-self: center; 
  justify-self: center; 
  height: 50%; 
  z-index: 3; 
}

.galeria .container[alt*="derecha arriba"]   { grid-column: 3 / 4; grid-row: 1 / 2; }
.galeria .container[alt*="derecha abajo"]   { grid-column: 3 / 4; grid-row: 2 / 3; }

.boton-galeria{
  padding: 2rem 5rem;
  background-color: rgb(8, 187, 211);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(8, 187, 211, 0.3);  /*sombra del botón */
  margin-bottom: 2.7rem;
  align-items: center;
  margin-left: 2rem;
  margin-top: 5rem;
}

/*--------------------main parte 6-----------------------*/
.contenedor-parte6 {
  width: 100%;
  display: flex;
  flex-direction: column;  /* Título arriba + columnas abajo */
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  margin-top: 8rem;
}

.contenedor-centro-menu2 {
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin-bottom: 6rem;
}
.contenedor-centro-menu2 h2 {
  margin-bottom: 4rem;
  font-size: 40px;
}

/*contenedor de columnas*/
.contenedor-columnas {
  display: flex;
  flex-direction: row;   /* pone lado a lado */
  width: 60%;
  max-width: 1200px;
  gap: 2rem;
  margin-bottom: 3rem;
}

/* Columna izquierda */
.contenedor-izquiedo-menu1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5px;
}
/*linea debajo de contenedor*/
/*
.contenedor-info-menu1 {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
  */

.contenedor-info-menu1  {
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
}
.contenedor-info-menu1 .plato1 {
  font-weight: bold;
}
.contenedor-info-menu1 p {
  padding-top: 0.5rem;
}

/* Columna derecha */
.contenedor-derecho-menu2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5px;
  margin-top: -1rem;
}
/*linea debajo de contenedor*/
/*
.contenedor-info-menu2 {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
  */
.contenedor-info-menu2 p {
  padding-top: 0.5rem;
}
.contenedor-info-menu2  {
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
}
.contenedor-info-menu2 .plato2 {
  font-weight: bold;
}










.imagen-slider{
  width: 300px;
  height: 300px;
}
/*-------------------------------------------*/
/*-----------------animacion--------------------------*/
/*animacion hover a opciones de menu*/
.menu-opciones a::after {
  content: "";
  position: absolute;
  left: 50%;                    /* centrado horizontalmente */
  transform: translateX(-50%);  /* ajuste para centrar perfectamente */
  bottom: 4px;                  /* ajusta esta distancia para que quede bajo el texto */
  width: 0;
  height: 4px;
  background-color: rgb(148, 147, 147);
  transition: width 0.3s ease;
}

.menu-opciones a:hover::after {
  width: 100%;
}

.numero-tel:hover{
  color: skyblue;
}
.contenedor-boton:hover {
  background-color: rgb(111, 226, 241);
}
.formulario input[type="button"]:hover {
  background-color: rgb(111, 226, 241);
}

.boton-galeria:hover {
  background-color: rgb(111, 226, 241);
}